body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 10px;
    color: #582A72;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #582A72;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #764B8E;
}

#error-message {
    color: red;
    margin-top: 10px;
}
